<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="ox">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block css %}
        <link rel="stylesheet" href="{{ asset('/build/css/main.css') }}">
    {% endblock %}

    <script src="{{ asset('/build/js/main_libs.js') }}"></script>

</head>
<body>

</body>
</html>